@import 'settings/config';
@import 'tools/mixins';
@import 'generic/reset';
@import 'utilities/helper';
@import 'utilities/make-grid';

@import 'components/page';
@import 'components/button';

* {
  -webkit-overscroll-behavior: none;
  overscroll-behavior: none;
}

body {
  font-family: $base-font;
  background: $brand-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
}

a {
  color: $link-color;
}
