@import 'settings/config';
@import 'tools/mixins';
@import 'generic/reset';
@import 'utilities/helper';
@import 'utilities/make-grid';

@import 'components/page';
@import 'components/button';

* {
  -webkit-overscroll-behavior: none;
  overscroll-behavior: none;
}

body {
  font-family: $base-font;
  background: $brand-color;
  &:before {
    content: '';
    background: url('/media/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
  }
  overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
}

a {
  color: $link-color;
}
