.edit-schedule-modal {
  .btn-close {
    background: none;
    border: none;
    padding: 0;
    height: 24px;
    cursor: pointer;
    margin-left: 8px;
  }
  .title {
    font-size: 1rem;
    font-weight: bold;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .MuiFormControl-marginDense {
    margin-top: 12px;
    margin-bottom: 8px;
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.12);
  }
  .users {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 0;
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.75);
    max-height: 150px;
    overflow: auto;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        margin: 10.5px 21px;
      }
      button {
        color: inherit;
        margin-right: 4px;
      }
    }
    li:not(:last-child) {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: inherit;
    }
  }
  .users:empty {
    border: none;
    margin-bottom: 0;
  }
  .btn-invite {
    font-size: 10px;
    padding: 4px 21px;
    border-color: rgba(0, 0, 0, 0.6);
  }
  .times {
    display: flex;
    margin-top: 16px;
    > div:nth-child(2) {
      margin-left: 16px;
      margin-bottom: 4px;
    }
  }
  footer {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    button {
      padding: 4px 20px;
    }
  }
}

.modal-confirm-deletion {
  .title {
    font-size: 1rem;
  }
  footer {
    margin-top: 14px;
    display: flex;
    justify-content: flex-end;
  }
}

.time-range-picker {
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 18px;
  }
  .pickers-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ant-input {
    height: 32px;
  }
  .options-container {
    display: flex;
    margin-bottom: 12px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      &:not(:first-child) {
        margin-left: 32px;
      }
      li {
        cursor: pointer;
        color: #009be6;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .footer {
    margin-top: 18px;
    display: flex;
    justify-content: flex-end;
  }
}
