.v2 {
  .ant-table-thead > tr > th:before {
    display: none;
  }
  .my-robots-boxes {
    max-width: 920px;

    .box-title {
      h3 {
        .media-breakpoint-down(md; {padding: 10px 0;});
      }
      .media-breakpoint-down(
        md; {display: flex; flex-direction: column; justify-content: center; align-items: center;}
      );
    }
  }
  .manage-robots-boxes {
    width: 100%;
    .battery-cell {
      display: flex;
      justify-content: center;
      width: 40px;
    }
    .manage-robot-actions {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .ant-btn {
        margin-left: 10px;
        &:empty {
          display: none;
        }
      }
    }
  }
  .ant-card {
    &.card-robots {
      max-width: 100%;
      min-width: 920px;
      width: 100%;
      .media-breakpoint-down(md; {max-width: 920px; min-width: 320px;});

      .robot-name {
        font-size: 1.1rem;
      }

      .box-title {
        .box-title-action {
          .ant-input-group-wrapper {
            width: 220px;
          }

          .ant-input-search {
            .ant-input {
              height: 30px !important;
              margin-left: 0;
              padding-left: 10px;
            }
          }
        }
      }

      .robot-list {
        .robot-list-item {
          display: flex;
          padding: 20px;
          border-top: 1px solid #efefef;
          align-items: center;
          cursor: pointer;
          &:hover {
            background: #f9f9f9;
          }
          .robot-name {
            flex: 1;
            padding: 0 20px;
          }

          .ant-tag {
            margin-right: 10px;
            margin-left: 0;
          }

          .ant-btn-group.ant-dropdown-button {
            .ant-btn.ant-btn-primary {
              border: 1px solid darken(@color-primary, 4%);
            }
            .ant-btn.ant-btn-primary + .ant-btn.ant-btn-primary {
              border-left: 1px solid darken(@color-primary, 4%);
            }
          }

          &.offline {
            .robot-name {
              color: #ccc;
            }

            .ant-tag {
              opacity: 0.4;
            }

            .ant-btn {
              background: #dedede;
              color: #999;
              border-color: #ccc !important;

              &:hover {
                color: #999;
              }
            }
          }

          .ant-btn-danger {
            background: rgb(207, 61, 61) !important;
            border-color: darken(rgb(207, 61, 61), 10%) !important;
            &:hover {
              color: #fff;
            }
          }

          &:last-child {
            border-radius: 0 0 @box-radius @box-radius;
          }
        }
      }

      .icon--battery {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .add-firt-bot-box {
    max-width: 100%;

    .ant-card-body {
      max-width: 100%;

      width: 720px;
      display: flex;
      border-radius: 10px;
      .section {
        padding: 0 30px !important;
        flex: 1;

        img.ohmni {
          height: 180px;
          width: auto;
        }
      }
    }

    h2 {
      padding-top: 0 !important;
    }

    .or-divider {
      span {
        display: block;
        background: #fff;
        color: #ddd;
        padding: 5px;
      }
      img {
        width: 90px;
      }
      &.vertical {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #eee;
        width: 1px;
      }

      &.horizontal {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #eee;
        height: 1px;
        margin: 20px 0;
      }
    }

    .ant-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      .ant-form-item {
        width: 100%;
      }
      .ant-input {
        width: 100%;
      }
    }

    .ant-btn {
      min-width: 150px;
    }

    &.step1 {
      .ant-card-body {
        width: 380px;
        padding-bottom: 20px !important;
      }
      .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          flex: 1;
          text-align: center;
        }
      }
    }

    &.step2 {
      .ant-card-body {
        width: 1200px;
        padding: 20px !important;
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
        h2 {
          padding-top: 30px;
          text-align: center;
        }

        .or-divider {
          border: none !important;
          .media-breakpoint-down(md; {display: none;}) !important;
        }

        h3 {
          text-align: left;
          span {
            position: absolute;
            margin-left: -32px;
            margin-top: 0px;
            width: 24px;
            height: 24px;
            font-size: 12px;
            background: @color-primary;
            color: #fff;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .section {
          padding: 30px;

          .media-breakpoint-down(md; {margin-top: 20px}) !important;
          p {
            text-align: left;
          }
        }
      }
    }

    &.step3 {
      .ant-card-body {
        width: 920px;
        h2 {
          position: absolute;
          top: 20px;
          left: 10px;
          right: 10px;
          text-align: center;
          background: #fff;
          z-index: 10;
          padding: 10px 0;
          margin: 0;
        }
        h3 {
          span {
            position: absolute;
            margin-left: -32px;
            margin-top: 2px;
            width: 24px;
            height: 24px;
            font-size: 12px;
            background: @color-primary;
            color: #fff;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
        .section {
          padding: 100px 60px 60px 60px;
          flex: 1;
          width: 50%;
        }
      }
    }
  }
}

.ant-modal.manage-bots-modal {
  .manage-bots-info {
    .bot-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;
      .bot-info-label {
        color: #949494;
        font-size: 0.85rem;
        font-weight: 500;
      }
    }
  }
}
