@import '~react-big-calendar/lib/css/react-big-calendar.css';
@import './antd.css';
@import './config.less';
@import './mixins/responsive.less';

@import './logo.less';
@import './icons.less';
@import './menu.less';
@import './auth.less';
@import './robots.less';
@import './call.less';
@import './dashboard.less';
@import './bot-setting.less';
@import './setting.less';
@import './users.less';
@import './loading.less';
@import './rechart.less';
@import './call-report.less';
@import './call-report-detail.less';
@import './share-link.less';
@import './user-detail.less';
@import './not-found.less';
@import './before-starting.less';

@import './component.less';

body {
  font-family: 'Roboto', sans-serif;
  overflow: auto !important;
  width: 100% !important;
}

.v2 {
  .title-case {
    text-transform: capitalize;
  }
  .text-align-center {
    text-align: center;
  }

  .back-button {
    position: absolute;
    padding: 10px;

    z-index: 1000;
    .media-breakpoint-down(sm; {padding: 5px;});

    .ant-btn {
      border: 1px solid #fff;
      background: @color-primary;
      .anticon {
        color: #fff;
      }
    }
  }
}
.v2 {
  .ant-layout {
    background: @color-primary !important;
    min-height: 100vh;

    .media-breakpoint-up(md; {min-height: 100vh;display: flex; flex-direction: column;});

    .ant-layout-content {
      padding: 20px;
      box-sizing: border-box;
      min-height: cal(100vh-40px);
      width: 100%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .media-breakpoint-down(sm; {padding: 15px;});
      .media-breakpoint-up(md; {display: flex; align-items: center; justify-content: center;});
    }

    .ant-layout-content.align-top {
      align-items: flex-start;
    }

    .auth-footer {
      background: none;
      text-align: center;
      padding: 0 0 20px 0;
      font-size: 12px;
      a {
        text-decoration: underline;
      }
      p {
        padding: 0 10px;
        margin: 0;
      }
    }
  }

  // ANT-CARD

  .ant-card {
    &.card-box {
      border: none;
      border-radius: @box-radius;
      position: relative;

      .ant-page-header {
        padding: 5px 10px;
        .ant-page-header-heading-title {
          font-size: 15px;
          color: #666;
          font-weight: normal;
        }
      }

      .ant-skeleton {
        padding: 20px;
      }

      .box-title {
        display: flex;
        width: 100%;
        padding: 20px;
        .media-breakpoint-down(md; {padding: 10px;});
        h2 {
          flex: 1;
          font-size: 24px;
          margin: 0;
        }

        h3 {
          flex: 1;
          font-size: 20px;
          margin: 0;
        }

        h4 {
          flex: 1;
          font-size: 16px;
          margin: 0;
        }

        .box-title-action {
          display: flex;
          flex-direction: row;

          .ant-input-search,
          .ant-radio-group,
          .ant-btn,
          .ant-input,
          .ant-select,
          .ant-picker {
            margin-left: 10px;
          }

          .ant-select.desktop-only {
            .ant-select-selector {
              height: 32px;
            }
            .media-breakpoint-down(md; {display: none;});
          }

          .ant-input-search {
            .ant-input {
              height: 30px;
            }
            .ant-btn {
              margin-left: 0;
            }
          }
          small {
            font-size: 0.66em;
            color: #ccc;
            font-weight: normal;
          }

          .ant-input-affix-wrapper {
            padding: 0;
            .media-breakpoint-down(md; {width: 100%;}) !important;
          }

          .ant-input-suffix {
            margin-right: 10px;
          }

          &.for-call-report {
            padding: 0;
            .anticon {
              margin-left: 5px;
            }
          }
        }
      }

      .box-title.for-report {
        .media-breakpoint-down(md; {flex-direction: column;});
        h2 {
          .media-breakpoint-down(md; {text-align: center});
        }

        h3 {
          .media-breakpoint-down(md; {text-align: center});
        }

        h4 {
          .media-breakpoint-down(md; {text-align: center});
        }

        .box-title-action {
          .media-breakpoint-down(md; {flex-direction: column;});

          .ant-input-search,
          .ant-radio-group,
          .ant-btn,
          .ant-input,
          .ant-select,
          .ant-picker {
            .media-breakpoint-down(md; {margin-left: 0; margin-top: 10px;});
          }

          .filter-group {
            display: flex;
            .media-breakpoint-down(md; {justify-content: space-between; align-items: center});
          }

          .ant-radio-group {
            .media-breakpoint-down(md; {display: flex; justify-content: center;});
          }
          .ant-input-search {
            width: 280px;

            .media-breakpoint-down(md; {width: 100%;}) !important;

            .ant-input {
              .media-breakpoint-down(md; {margin-left: 10px; margin-top: 0;}) !important;
            }
            .ant-btn {
              .media-breakpoint-down(md; {margin-top: 0;}) !important;
            }
          }
        }
      }

      .ant-card-body {
        padding: 0;
        border-radius: 10px;
      }
    }

    // TABLE INSIDE CARD
    .ant-table {
      border-radius: 10px;
      overflow: hidden;

      .ant-table-tbody > tr:last-child > td {
        border-bottom: none;
      }
      .ant-table-thead > tr {
        padding: 0 10px;
        > th {
          background: none;
          padding: 10px 20px;
          color: #ccc;
          font-size: 0.85rem;
        }
      }

      .ant-table-tbody > tr {
        padding: 0 10px;

        > td {
          padding: 10px 20px;
        }
      }
    }

    .ant-pagination {
      padding: 0 20px;
    }
  }

  .card-box + .card-box,
  .ant-row + .card-box {
    margin-top: 20px;
  }

  .ant-radio-button-checked {
    color: @color-primary;
    border-color: @color-primary;
    .ant-radio-button-wrapper-checked {
      color: @color-primary !important;
    }
  }

  .ant-menu-horizontal > .ant-menu-item-selected a {
    color: @color-primary;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 1;
    color: @color-primary;
    background: #fff;
    border-color: @color-primary !important;
  }

  .ant-btn {
    box-shadow: none;
    text-transform: uppercase;
    font-weight: bold;

    &.ant-btn-primary {
      &:hover {
        color: #fff;
      }
    }
  }
}

.v2 {
  .hidden-sm {
    .media-breakpoint-down(sm; {display: none;});
  }
}

// MODAL
.ant-modal {
  .media-breakpoint-down(md; {max-width: 94%;});
  .inline-tooltip {
    padding-left: 5px;
    display: inline-block;
  }
  .ant-modal-header {
    background: none;
  }
  .ant-modal-content {
    border-radius: @box-radius;
  }

  .modal-footer {
    padding: 0;
    display: flex;
    justify-content: space-between;

    .ant-btn {
      margin-right: 10px;
      &.ant-btn-primary {
        min-width: 100px;
      }
    }

    .footer-left,
    .footer-right {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer-right {
      .ant-btn {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }

  &.table-container {
    .ant-modal-body {
      padding: 0;

      .ant-table-thead {
        .ant-table-cell {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }

      .ant-table-cell:first-child {
        padding-left: 20px;
      }
      .ant-table-cell:last-child {
        padding-right: 20px;
      }
      .ant-pagination {
        margin: 10px 18px;
      }
    }
    .modal-footer {
      padding: 20px;
    }
  }

  &.form-container {
    .ant-form {
      margin: 0;
      .ant-form-item {
        &:last-child {
          margin-bottom: 0;
        }
        &.share-link-access {
          .ant-form-item-control-input-content {
            display: flex;
            flex-direction: row;
          }
        }
      }
      .ant-collapse {
        .ant-collapse-header {
          padding: 7px 10px;
          font-size: 16px;
          background: #fff;
        }
        .ant-form-item {
          margin-bottom: 10px;
        }
        .ant-collapse-arrow {
          color: rgba(0, 0, 0, 0.25);
          right: 10px;
        }
      }

      .share-link-users {
        &.ant-list {
          .ant-list-item {
            padding-left: 15px;
            padding-right: 10px;
          }

          .anticon {
            &:hover {
              cursor: pointer;
              color: red;
            }
          }
        }
      }
    }
  }

  &.time-range-modal {
    max-width: 380px;
    .ant-form-item {
      margin-bottom: 10px;
    }
  }

  &.add-robot-modal,
  &.invite-user-modal {
    .ant-form-item:first-child {
      flex: 1;
    }

    .modal-footer {
      margin-top: 20px;
    }

    .ant-form-item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .inline-form-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .ant-form-item:nth-child(2),
      .ant-form-item:nth-child(3) {
        padding-left: 10px;
      }
      .ant-select {
        width: 120px;
      }

      .ant-btn {
        margin-left: 10px;
      }
    }
  }
}

.end-call-exp-modal {
  width: 100%;
  max-width: 420px;
  h3 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  p {
    padding: 0;
    margin: -10px 0 10px 0;
  }
  .ant-modal-content {
    padding: 10px 20px;
  }

  // &.step1 {
  text-align: center;
  // }

  .ant-form {
    text-align: left;
  }

  .ant-form-item-label {
    font-weight: bold;
  }

  .ant-btn {
    min-width: 120px;
  }

  .ant-radio-group.issues-group {
    width: 100%;
    display: flex;
    .ant-radio-button-wrapper {
      flex: 1;
      text-align: center;
    }
  }

  .ant-radio-group {
    > div {
      padding: 5px 0;
    }
  }
}

.flag-select {
  .selected--flag--option .arrow-down {
    margin-left: 6px;
  }
  .flag-options {
    padding: 0px !important;
  }
  .flag-select__btn {
    height: 20px;
  }
  .flag-select__option__icon {
    top: 0;
  }
}

.responsive-menu {
  &.ant-menu-vertical {
    border-right: none !important;
  }
}

.custom-filter {
  width: 200px;
  .filter-content {
    .ant-select {
      width: 100%;
      margin-bottom: 5px;
    }
  }
  .filter-action {
    .ant-btn {
      margin-right: 5px;
    }
  }

  &.custom-filter-lg {
    width: 280px;
    .filter-action {
      margin-top: 10px;
    }
  }
}

.hide-on-sm {
  .media-breakpoint-down(sm; {display: none});
}

.desktop-only {
  .media-breakpoint-up(md; {display: auto;}) !important;
  .media-breakpoint-down(sm; {display: none}) !important;
}

.mobile-only {
  .media-breakpoint-up(md; {display: none}) !important;
  .media-breakpoint-down(sm; {display: auto}) !important;
}
