body {
  margin: 0;
}

a {
  text-decoration: none;
}

input:not([type='checkbox']):not([type='radio']):not([type='range']) {
  height: $spacing-4x;
  border: $grey 1px solid;
  border-radius: $base-radius/2;
  padding-right: $spacing;
  padding-left: $spacing;
  font-size: 1rem;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select {
  height: $spacing-4x;
  border: $grey 1px solid;
  border-radius: $base-radius/2;
  padding-right: $spacing;
  padding-left: $spacing;
  font-size: 1rem;
  box-sizing: border-box;
}

button {
  height: $spacing-4x;
  border: $grey 1px solid;
  border-radius: $base-radius/2;
  padding-right: $spacing;
  padding-left: $spacing;
  font-size: 1rem;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }

  &:active {
    outline: none;
    border: none;
  }
  &:focus {
    outline: 0;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
